<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2><%= title %></h2>
        </div>

        <% if (error?.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <form action="/project/delete" method="post">
            <input type="hidden" name="id" id="id" value="<%= data.id %>">
            <dl>
                <dt>Client</dt>
                <dd><%= data.clientId.name %></dd>
                <dt>Name</dt>
                <dd><%= data.name %></dd>
            </dl>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-primary" href="/project/index">Back</a>
        </form>
    </div>
</div>
