<div>
    <div id="ticket">
        <dl>
            <dt>Ticket Id</dt>
            <dd><%= ticket.id %></dd>
            <dt>Subject</dt>
            <dd><%= ticket.title %></dd>
            <% if(ticket.projectId){ %>
                <dt>Project/dt>
                <dd><%= ticket.projectId.name %></dd>
            <% } %>
            <% if(ticket.createdBy){ %>
                <dt>Created By/dt>
                <dd><%= ticket.createdBy.name %></dd>
            <% } %>
            <% if(ticket.assignedTo){ %>
                <dt>Assigned To/dt>
                <dd><%= ticket.assignedTo.name %></dd>
            <% } %>
            <dt>Status</dt>
            <dd><%= ticket.status %></dd>
            <dt>Date</dt>
            <dd><%= ticket.date %></dd>
        </dl>
    </div>
</div>