<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2><%= title %></h2>
        </div>

        <% if (error?.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <form action="/imap/delete" method="post">
            <input type="hidden" name="id" id="id" value="<%= data.id %>">
            <dl>
                <dt>User</dt>
                <dd><%= data.user %></dd>
                <dt>Mailbox</dt>
                <dd><%= data.mailbox %></dd>
                <dt>Refresh Interval</dt>
                <dd><%= data.refreshInterval %></dd>
                <dt>Host</dt>
                <dd><%= data.host %></dd>
                <dt>Port</dt>
                <dd><%= data.port %></dd>
                <dt>SSL</dt>
                <dd><%= data.ssl %></dd>
            </dl>
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-primary" href="/imap/index">Back</a>
        </form>
    </div>
</div>
