<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2><%= title %></h2>
        </div>

        <% if (error?.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>

        <a class="btn btn-primary" href="/ticket/create">Add</a>
        <table>
            <thead>
            <tr>
                <th>Project</th>
                <th>Created By</th>
                <th>Assigned To</th>
                <th>Status</th>
                <th>Title</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% for(let ticket of data) { %>
                <tr>
                    <td><%= ticket.projectId?.name %></td>
                    <td><%= ticket.createdBy?.name %></td>
                    <td><%= ticket.assignedTo?.name %></td>
                    <td><%= ticket.status %></td>
                    <td><%= ticket.title %></td>
                    <td>
                        <a class="btn btn-secondary" href="/ticket/edit/<%= ticket.id %>">Edit</a>
                        <a class="btn btn-info" href="/ticket/details/<%= ticket.id %>">Details</a>
                        <a class="btn btn-danger" href="/ticket/delete/<%= ticket.id %>">Delete</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

    </div>
</div>